# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env
.venv/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Misc
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
